.row.p-6
  .col.up-2.p-24
    h3.pl-16 Headers 
    hr
    tabs
      tab-heads(slot="heads")
        tab-head#1(active=true) Headers
        tab-head#2 Code
      tab-items(slot="items")
        tab-item#1.editor-container(active=true)
          h1 Header 1
          h2 Header 2
          h2 Header 2
          h3 Header 3
          h3 Header 3
          h4 Header 4
          h4 Header 4
          h5 Header 5
        tab-item#3