.nav.up-2
    .layout
      .hambarger.sm-hide-up
        i.glyphicon.glyphicon-align-justify
      .brand Karicha
      .links.md-hide-down
        ul.link-group
          li.link
            i.glyphicon.glyphicon-search
          li.link Home
          li.link All
          li.link Category
      .links.sm-hide-up
        ul.link-group
          li.link
            i.glyphicon.glyphicon-search